<footer id="pie-pagina">
  <div class="container">
    <ul class="list-inline list-unstyled">
      <li>© Copyright 2015, <a href="https://es.linkedin.com/pub/adrian-palomera-sanz/92/896/b50">Adrian Palomera</a></li>
      <li><a class="" data-toggle="modal" data-target="#myModal">Aviso Legal</a></li>
    </ul>
  </div>
</footer>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Aviso legal de la web</h4>
      </div>
      <div class="modal-body">
        <p>Este sitio web no es propio, operativo, patrocinado ni autorizado por geobra Brandstätter Stiftung & Co. KG. geobra Brandstätter Stiftung & Co. KG no aprueba y no es responsable de este sitio web ni de cualquier información o links que aquí se contienen. Hacerlo no expresa o implica garantías respecto a cualquier información o link en este sitio web. Las marcas PLAYMOBIL®, PLAYMOBIL® SYSTEM X, PLAYMOBIL® RC TRAIN, PLAYMOBIL® FUNPARK y las imágenes copyright de los productos PLAYMOBIL® son propiedad única y exclusiva de geobra Brandstätter Stiftung & Co. KG, la cual dispone de todos los derechos reservados.</p>
      </div>
    </div>
  </div>
</div>