<div class="container">
  <div class="owl-carousel">
    <%= 12.times do |i| %>
        <div>
          <img src="http://placehold.it/<%= i %>" class="img-responsive center-block">
        </div>
    <% end %>
  </div>
</div>