.bundle
db/*.sqlite3
log/
blobs/
blobs
resizes/
tmp/
nbproject/
public/stylesheets/sitios
public/export
public/flash
public/catalogo_itra
rss/
.idea/
mnt_blobls.sh
.hg/*
.hgignore
.hgtags
.yardopts
.yardoc/*
doc/*
public/javascripts/gestion/jato_version_model.js
