<%= render partial: 'gestion/header' %>
<div class="container">
  <div class="cabecera-gestion">
    <header>
      <h3>Banners</h3>
    </header>
  </div>
  <div class="content">
    <div class="row">
      <div class="dropzone-wrapper col-xs-12">
        <div id="dropzone" class="dropzone row">
          <div class="fallback">
            <input type="file" name="file" multiple data-id="banner" data-controller="<%= (controller_name.singularize == 'banneres') ? 'banners' :  controller_name.singularize %>">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>