<%= render partial: 'gestion/header' %>
<div class="container">
  <div class="cabecera-gestion">
    <header>
      <h3>Categorías > Nueva Categoría</h3>
    </header>
  </div>
  <div class="content">
    <%= render partial: 'categorias/form', locals: {categoria: @categoria} %>
  </div>
</div>