<%#= render :partial =>  'gestion/header' %>
<div class="dropzone-wrapper col-xs-12">
  <div id="dropzone" class="dropzone row">
    <div class="fallback">
      <input type="file" name="file" multiple data-controller="">
    </div>
  </div>
</div>