.destacado-false, .destacado-true{
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(check.png) no-repeat;
}
.destacado-false{  background-position: -40px 0; }

/* Main progress bar */
html.turbolinks-progress-bar::before {
  border-bottom: solid 4px #0095d4;
}